body{
    width: 1920px;
}

.base{
    background: url(../image/bg.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}

.container{
    margin: 0 25px 0 350px;    
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
  }

.header-logo{
    width: 230px;
    height: 180px;
    margin-left: 100px;
    float: left;
}

.header-logo__image{
    max-width: 100%;
}

.header-right{
    margin: 40px 80px 0;
    float: right;
}

.header-list__item{
    text-align: center;
    font-size: 16px;
    display: inline-block;
    width: 135px;
    height: 156px;
    text-transform: uppercase;
    background: url(../image/header-circle.png) no-repeat;
    background-position: top;
}

.header-list__link{
    text-decoration: none;
    line-height: 9.5;
    color: #000;
}

.header-list__link-chosen{
    text-decoration: underline;
    color: #57b536;
}

.header-list__item2{
    background: url(../image/header-circle-2.png) no-repeat;
    margin-top: -15px;
}

.header-list__item3{
    background: url(../image/header-circle-3.png) no-repeat;
}

.header-list__item5{
    background: url(../image/header-circle-5.png) no-repeat;
}

.aside{ 
        float: left;
    
}

.aside-list{
    list-style-type: none;
    margin-left: 60px;
    padding: 0;

}

.aside-list__item{
    background: url(../image/list-item-bg.png) no-repeat;
    transition: background .7s;
    text-align: center;
    width: 267px;
    height: 40px;
    padding-top: 22px;
}

.aside-list__link{
    font-size: 15px;
    transition: color .7s;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.aside-list__item:hover{
     background: url(../image/aside-menu__item-hover.png) no-repeat;
}

.aside-list__item:hover .aside-list__link{
    color: #57b536;
}

.aside-stones-wrapper{
    margin-left: 25px;
    width: 300px;
}

.footer{
    background: #d4edcc;
    height: 300px;
}

.footer-left{
    padding-top: 80px;
    padding-bottom: 75px;
    width: 500px;
    float: left;
}

.footer-list{
    list-style-type: none;
}

.footer-list__item{
    display: inline-block;
    margin-right: 35px;
}

.footer__text{
    font-size: 18px;
    text-align: center;
}

.footer-right{
    float: right;
    margin-top: -80px;
}

.main-galery{
    width: 1575px;
    float: right;
    padding:0 0 50px;
}

.main-fitobar{
    width: 1400px;
    float: right;
    padding:0 0 50px;
    margin-right: 163px;}

.main-akcii{
    width: 1400px;
    float: right;
    padding-bottom: 0;
    margin-right: 100px;
}

.main-contacts{
    width: 1300px;
    float: right;
    margin-right: 200px;
    padding-bottom: 50px;
}

.main-uslugi{
    width: 1105px;
    float: right;
    margin-right: 305px;
}

.main-header{
     background: url(../image/main-header.png) no-repeat center;
    color: #fff;
    text-align: center;
    padding-top: 25px; 
    font-size: 42px;
    width: 730px;
    height: 80px;
    margin: 0 auto 60px;  
}

.main-akcii-header{
    margin-bottom: 0;
}

.main-uslugi-header{
    background: url(../image/uslugi__header-BG.png) no-repeat center;
    color: #fff;
    text-align: center;
    padding-top: 40px; 
    font-size: 42px;
    width: 990px;
    height: 100px; 
    margin: 0 auto 10px;
}

.main-galery-list__item{
    position: relative;
    overflow: hidden;
    width: 350px;
    display: inline-block;
    background: url(../image/main-list-item-BG.png) no-repeat;
    list-style-type: none;
    padding: 15px;   
}

.main-galery-list__image-hover{
    position: absolute;
    opacity: 0;
    margin-top: 80%;
    transition: margin-top .5s, opacity 1s;
    top: 14px;
    left: 15px;

}

.main-galery-list__item:hover .main-galery-list__image-hover{
    opacity: 1;
    margin-top: 0;
} 

.main-galery-page-nav{
    padding-left: 37px;
}

.main-galery-page-nav__link{
    margin: 10px;
}

.main-fitobar-left,.main-fitobar-right{
    margin: 55px 0 0 60px;
}

.main-fitobar-left{
    float: left;
    width: 565px;
}

.main-fitobar-right{
    float: right;
    width: 575px;
}
.main-fitobar-left__header,.main-fitobar-right__header{
    text-align: center;
    font-size: 36px;
    margin:0 0 60px;
}

.main-fitobar-left__left-name,.main-fitobar-left__right-name{
    font-size: 18px;
    color: #222;
}

.main-fitobar-left__left-discription,.main-fitobar-right__right-discription{
    font-size: 16px;
    color: #222;
}

.main-fitobar-left__left{
    text-align: left;
}

.main-fitobar-left__left-image,.main-fitobar-right__left-image{
    float: right;
    margin-top: -50px;
}

.main-fitobar-left__right,.main-fitobar-right__right{
    text-align: right;
}

.main-fitobar-left__right-image{
    float: left;     
}

.main-fitobar-right__right-image{
    float: left;
    margin-top: -40px;
}

.main-akcii-container{
    padding: 40px 0 60px;
}

.main-akcii-container-picture{
    display: inline-block;
    margin: 0 60px;
}

.main-akcii-container-text{
    display: inline-block;
    width: 555px;
    margin: 0 60px;
    padding-top: 40px;
    vertical-align: top;
}


.main-akcii-container-text-description__header{
    font-size: 18px;
}

.main-akcii-container-text-description-list{
    list-style: url(../image/main-akcii-list__item.png);
}

.main-akcii-container-text-description-block{
    border: #62ba42 solid 3px;
    padding: 10px;
}

.main-akcii-container-text-description-block__generalname,.main-akcii-container-text-description-block__name{
    margin: 0;
}

.main-akcii-container-text-description__text,.main-akcii-container-text-description-list__item,.main-akcii-container-text-description-block__name{
    font-size: 16px;
    font-style: italic;
}

.main-contacts-container-header{
    text-align: center;
    color: #222;
    font-size: 36px;
}

.main-contacts-container-left,.main-contacts-container-right{
    display: inline-block;
}

.main-contacts-container-left-list__item-location{
    list-style: url(../image/contacts_placeholder.png);
}

.main-contacts-container-left-list__item-phone{
    list-style: url(../image/contacts__phone.png);
}

.main-contacts-container-left-list__item-location,.main-contacts-container-left-list__item-phone,.main-contacts-container-right-list__item-inst,.main-contacts-container-right-list__item-fb{
    color: #222;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
}



.main-contacts-container-left{
    margin: 0 185px;
    width: 314px;
    vertical-align: top;
}

.main-contacts-container-right-list__item-inst-image,.main-contacts-container-right-list__item-fb-image{
    vertical-align: middle;
    margin-right: 10px;
}

.main-contacts-container-right-list__item-inst,.main-contacts-container-right-list__item-fb{
    font-size: 16px;
    list-style: none;
    vertical-align: top;
}

.main-contacts-container-right-list__item-inst{
    margin-bottom: 50px;
}


.main-uslugi-container{
    width: 995px;
    margin: 0 auto;
}

.main-uslugi-container-row{
    text-align: center;
    padding: 25px 0;
    border-bottom: 3px solid #57b536;
}

.main-uslugi-container-row__procedura,.main-uslugi-container-row__deistvie,.main-uslugi-container-row__time,.main-uslugi-container-row__price{
    margin: 0 30px;
    display: inline-block;
    width: 180px;
    text-align: left;
    font-style: italic;
    vertical-align: top;
    
}

.main-uslugi-container-row__deistvie{
    width: 365px;
}

.main-uslugi-container-row__time,.main-uslugi-container-row__price{
    width: 90px;
    text-align: center;
}

.main-uslugi-container-row:first-child{
    height: 54px;
    font-size: 18px;
    color: #222;
    border-bottom: 5px solid #57b536;
    font-weight: 600;
    padding: 20px 0 0;
    }

.main-uslugi-container-row__first{
    font-size: 18px;
    color: #222;
    font-weight: 600;
    text-align: center;
    font-style: normal;
    vertical-align: middle;
    }

.main-uslugi-container-row__procedura-name,.main-uslugi-container-row__procedura-discription{
    margin: 0;
}

.main-uslugi__vetochka-wrapper{
    width: 360px;
    margin: 40px auto 30px;   
}

.main-uslugi-mastera{
}

.main-uslugi-mastera__header{
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: #222;
    
}

.main-uslugi-mastera__arrow-left-wrapper,.main-uslugi-mastera__arrow-right-wrapper{
    position: absolute;
    top: 150px;
    cursor: pointer;
}

.main-uslugi-mastera__arrow-left-wrapper{
    right: 100%;
}

.main-uslugi-mastera__arrow-right-wrapper{
    left: 100%;
}

.main-uslugi-mastera__info,.main-uslugi-mastera__info{
    position: relative;
    width: 1050px;  
}
.main-uslugi-mastera-info__portfolio-item{
    display: inline-block;
    width: 280px;
    margin: 0 25px;
}

.main-uslugi-mastera-info-portfolio__photo-wrapper{
    text-align: center;
}

.main-index__slider-wrapper{
    margin: 10px 0 35px 20px;
    width: 1550px;
    float: right;
}

.main-index__slider-image{
    width: 100%;
}

.main-index__banner{
    float: right;
    width: 1550px;
    background: url(../image/index__banner-bg.jpg) no-repeat;

}

.main-index-banner-list__item-location,.main-index-banner-list__item-clock,.main-index-banner-list__item-phone{
    display: inline-block;
    width: 470px;
    font-size: 34px;
    color: #fff;
    vertical-align: top;
}

.main-index-banner-list__item-location{
    list-style: url(../image/index__banner-placeholder.png);
}

.main-index-banner-list__item-clock{
    list-style: url(../image/index__banner-clock.png);
}

.main-index-banner-list__item-phone{
    list-style: url(../image/index__banner-phone.png);
}

.main-index__slogan{
    width: 100%;
    clear: both;
}

.main-index-slogan__header{
    text-align: center;
    color: #57b536;
    font-size: 36px;     
}

.main-index-slogan-info__portfolio{
    margin-top: 70px;
    margin-left: -30px;
}

.main-index-slogan-info-portfolio__mark-wrapper{
    clear: right;
    float: left;
    

}

.main-index-slogan-info__portfolio-item{
    display: inline-block;
    width: 385px;
    list-style: url(../image/index__main-slogan-brakets.png);
    margin: 0 40px;
}

.main-index-slogan__arrows-wrapper,.main-index-slogan-info-portfolio__photo-wrapper{
    text-align: center;
}

.main-index-slogan-info-portfolio__block,.main-index-slogan-info-portfolio__photo-wrapper{
    width: 290px;
    float: right;
    margin-bottom: 20px;
}

.main-index-slogan__arrow-left-image,.main-index-slogan__arrow-right-image{
    cursor: pointer;
}